.header{
    height: 100vh;
    width: 100%;
    background: url("../img/background.png") center no-repeat; 
    opacity: 1.8;
    -moz-opacity: 1;
    filter: alpha(opacity=80) black;
    -khtml-opacity: 0.8;
    background-color:#000;
}
.header_menu_inner{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
}
.header_logo{
    list-style-type: none; 
    margin-left: 150px;
    padding-top: 50px;
    
}
span{
    font-size: 20px;
    list-style-type: none; 
    font-family: 'Montserrat' , sans-serif;
    font-family: 'Roboto' , sans-serif;
    color: white;
    display: inline;
}
.header_menu_inner{
    list-style-type: none; 
    margin-left: 30px;
    display: inline;
    text-align: center;
    color: #C0301c;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
.header_intro{
    margin-top: 150px;
    padding: 10px 500px 100px 450px;
    font-family: 'Montserrat' , sans-serif;
    font-family: 'Roboto' , sans-serif;
    color: white;
}
p{
    padding: 2px 30px 2px 25px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}
i{
    font-size: 30px;
    display: inline;
    align-items: center;
    color: #C0301c;
}
.btn{
    margin-left: 70px;
    margin-bottom: 150px;
    border: 1px solid;
    color: white;
    padding: 5px 50px 5px 50px;
    text-align: center;
    text-decoration: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.header_menu_inner{
    border: 2px solid white;
}
.furst{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
.btn:hover {
    color: #f0d2d8;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.content_inner_txt{
    padding-left: 10px;
    text-align: center;
    padding-top: 50px;
}
#content-icon_txt{
    padding-left: 10px;
    text-align: center;
    padding-top: 50px;
}
.txt_block{
    height: 50px;
    width: 50px;
    text-align: center;
}
.main_header{
    height: 100vh;
    width: 50%;
    margin-top: 1px;
    background-color: white;
}
.footer_txt{
    text-align: center;
    color: white;
    padding-top: 125px;
}
.footer{
    height: 50vh;
    width: 100%;
    display: block;
    align-items: center;
    margin-top: 1px;
    background-color: #C0301c;
}
.fa_twitter{
    text-align: center;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 35px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
}

